
@media screen and (min-width: 576px) {
  .acuityads-cards {
    height: 50vmax;
  }
}
@media screen and (min-width: 768px) {
  .acuityads-cards {
    height: 30vmax;
  }
}
@media screen and (min-width: 992px) {
  .acuityads-cards {
    height: 25vmax;
  }
}
@media screen and (min-width: 1200px) {
  .acuityads-cards {
    height: 25vmax;
  }
}
@media screen and (min-width: 1500px) {
  .acuityads-cards {
    height: 30vmin;
  }
}

.acuityads-cards-name{
  height: 2.5em;
  font-size: 1.2em;
  overflow: hidden;
  color: orange;
}

.acuityads-cards-title{
  height: 3em;
  font-size: 1.2em;
  overflow: hidden;
}

.acuityads-cards-bio {
  height: 4.8em;
  font-size: 1em;
  overflow: hidden;
}

.acuityads-cards-button{
  height: 1.5em;
  font-size: 1.5em;
  overflow: hidden;
}
